<footer class="footer py-6 bg-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-white">
				<p>
					<img src="../images/temp/footer-logo-horizontal.jpg" alt="">
				</p>

				<p class="lead">Lorem ipsum dolor sit amet suscipit venenatis elit vitae. Semper eu ultrices dolor orci
					a. Velit a in. Vehicula id dolor. Quis gravida eros et elit praesent consectetuer ut litora aliquam
					montes in. Magna libero vel.</p>

				<div class="row mb-3">
					<div class="col-auto">
						<a href="#">
							<img src="../images/temp/footer-logo-vertical.jpg" alt="">
						</a>
					</div>

					<div class="col-auto">
						<a href="#">
							<img src="../images/temp/footer-logo-vertical.jpg" alt="">
						</a>
					</div>

					<div class="col">
						<small>Visible Homes is a licensed real estate broker and abides by the Equal Housing
							Opportunity Laws.</small>

					</div>
				</div>

				<div class="footer-socials mb-3">
					<a href="#">
						<i class="fab fa-facebook-f"></i>
					</a>

					<a href="#">
						<i class="fab fa-instagram"></i>
					</a>

					<a href="#">
						<i class="fab fa-youtube"></i>
					</a>
				</div>

				<p>
					<i class="fas fa-fw fa-map-marker-alt"></i> Street, number, Cily, State 00000
				</p>

				<p>
					<i class="fas fa-fw fa-phone"></i>
					<a href="tel:(000) 111-2222">(000) 111-2222</a>
				</p>

				<div class="row mb-4">
					<div class="col-lg-6 col-xl-5">
						<a href="#" class="btn btn-light btn-lg btn-block h-100">Contact us</a>
					</div>

					<div class="col-lg-6 col-xl-5 mt-2 mt-lg-0">
						<a href="#" class="btn btn-outline-light btn-sm btn-block">License Info</a>
						<a href="#" class="btn btn-outline-light btn-sm btn-block">Terms And Conditions</a>
					</div>
				</div>
			</div>

			<div class="col-md-6 mt-4 mt-md-0">
				<p class="text-white">Popular searches in State</p>

				<div class="row">
					<div class="col-6 col-sm-4">
						<nav class="nav flex-column footer-nav">
							<a class="nav-link" href="#">Lorem Ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
						</nav>
					</div>

					<div class="col-6 col-sm-4">
						<nav class="nav flex-column footer-nav">
							<a class="nav-link" href="#">Lorem Ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
						</nav>
					</div>

					<div class="col-6 col-sm-4">
						<nav class="nav flex-column footer-nav">
							<a class="nav-link" href="#">Lorem Ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
							<a class="nav-link" href="#">Lorem ipsum</a>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<div class="copyrights mt-4 mt-md-0">Copyright © 2018 SkadIT. All right reserved.</div>
	</div>
</footer>
