<header class="header">
	<nav class="navbar navbar-expand-lg">
		<a class="navbar-brand text-white" href="#">Logo</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
			<i class="fas fa-bars"></i>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="#">Buy <span class="sr-only">(current)</span></a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="#">Sell</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="#">Build</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="#">Careers</a>
				</li>
			</ul>

			<ul class="navbar-nav-utilities">
				<li class="nav-item">
					<a href="#" class="btn btn-outline-light text-uppercase border-0">Property search</a>
				</li>

				<li class="nav-item">
					<a href="#" class="btn btn-outline-light text-uppercase">Login</a>
					<a href="#" class="btn btn-outline-light text-uppercase">Register</a>
				</li>

				<li class="nav-item">
					<a href="#" class="btn btn-sm btn-primary text-uppercase">Contact us</a>
				</li>
			</ul>
		</div>
	</nav>
</header>
