.card.agent {
	.card-img-overlay {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 0;
		text-align: center;
	}

	.card-img-overlay-top,
	.card-img-overlay-bottom {
		width: 100%;
		background: $middle-gray;
	}

	.card-img-overlay-top {
		position: relative;
		padding: .75rem 2.5rem;

		i {
			position: absolute;
			top: 50%;
			right: 1rem;
			transform: translateY(-50%);

			&:hover {
				cursor: pointer;
			}
		}

		.card-text {
			margin-bottom: 0;
		}
	}

	.card-img-overlay-bottom {
		margin-top: 2px;
		padding: .75rem 1rem;

		a {
			display: inline-block;
			margin: 0 .25rem;
		}
	}

	.card-img-overlay-text {
		flex: 1 1 0;
		position: relative;
		top: 10px;
		overflow-y: auto;
		margin: 1rem 1rem 0;
		padding: 1rem;
		background: $white;
		color: $black;
		text-align: left;
		visibility: hidden;
		opacity: 0;
		transition: all .25s linear;

		&.visible {
			top: 0;
			visibility: visible;
			opacity: 1;
			transition: all .25s linear;
		}
	}

	.card-title {
		margin-bottom: .25rem;
	}

	@include media-breakpoint-down(sm) {
		.card-img-overlay-text {
			font-size: .75rem;
		}
	}

	@include media-breakpoint-down(xs) {
		max-width: 350px;
		margin: 0 auto;

		.card-img-overlay-text {
			font-size: 1rem;
		}
	}
}
