.footer {
	font-size: .875rem;

	.lead {
		font-size: .9rem;
	}

	.btn.h-100 {
		line-height: 50px;
	}

	.copyrights {
		color: #A5A5A5;
	}
}

.footer-nav {
	font-size: .75rem;
	color: #A5A5A5;

	.nav-link {
		padding: .25rem 0;
	}
}

.footer-socials {
	font-size: 1.5rem;
	color: $light;

	a {
		display: inline-block;
		margin-right: 1.5rem;
		vertical-align: middle;
	}
}

@include media-breakpoint-down(md) {
	.footer {
		.btn.h-100 {
			height: auto !important;
			line-height: 20px;
		}
	}
}
