.header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1200;
	width: 100%;
}

.navbar {
	min-height: 60px;
	padding-top: 0;
	padding-bottom: 0;
	background: $middle-gray;
	border-bottom: 1px solid $white;

	.navbar-toggler {
		padding-left: 0;
		border: none;
		font-size: 1.5rem;
		color: $white;
	}

	.btn-outline-light {
		padding: .1rem .5rem;
		font-size: .75rem;
	}
}

.navbar-brand {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 140px;
	height: 60px;
	padding-right: 1rem;

	&:after {
		content: '';
		position: absolute;
		right: 0;
		bottom: 0;
		display: block;
		width: 1px;
		height: 60px;
		background: $white;
	}

	img {
		max-width: 108px;
		max-height: 50px;
	}
}

.navbar-nav {
	justify-content: space-around;
	width: 60%;
	margin-right: auto;
	margin-left: auto;

	.nav-link {
		position: relative;
		color: $white;
		text-transform: uppercase;
	}

	.active .nav-link:after,
	.nav-link:hover:after {
		content: '';
		position: absolute;
		right: .5rem;
		bottom: 5px;
		left: .5rem;
		height: 1px;
		background: $white;
	}
}

.navbar-nav-utilities {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	height: 100%;
	margin-bottom: 0;
	white-space: nowrap;

	.nav-item {
		position: relative;
		padding-right: 1rem;
		padding-left: 1rem;

		& + .nav-item {
			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: -15px;
				display: block;
				width: 1px;
				height: 60px;
				background: $white;
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.navbar {
		background: rgba(5, 12, 19, 0.8);
	}

	.navbar-brand {
		justify-content: flex-start;

		&:after {
			display: none;
		}
	}

	.navbar-nav {
		align-items: center;
		width: 100%;

		.nav-link {
			display: inline-block;
		}

		.active .nav-link:after,
		.nav-link:hover:after {
			right: 0;
			left: 0;
		}
	}

	.navbar-nav-utilities {
		flex-direction: column;
		align-items: center;

		.nav-item {
			padding: .5rem 0;

			+ .nav-item {
				&:after {
					display: none;
				}

				&:last-child {
					margin-bottom: 1rem;
				}
			}
		}

		.border-0 {
			border: 1px solid $white !important;
		}
	}
}
