.section {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.section-head + .section-body,
.section-body + .section-bottom {
	margin-top: 3.5rem;
}

.section-title {
	display: inline-block;
	margin-bottom: 0;
	text-transform: uppercase;

	&:before,
	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 2px;
		background: $black;
	}

	&:before {
		margin-bottom: .5rem;
	}

	&:after {
		margin-top: .5rem;
	}
}

.section-intro {
	min-height: 75vh;
	display: flex;
	align-items: center;

	.title {
		font-family: $font-regular;
		font-size: 4rem;
		font-weight: 400;
		text-transform: uppercase;
	}
}

@include media-breakpoint-down(sm) {
	.section {
		padding-top: 3.5rem;
		padding-bottom: 3.5rem;
	}

	.section-head + .section-body,
	.section-body + .section-bottom {
		margin-top: 2rem;
	}

	.section-intro {
		min-height: 60vh;

		.title {
			font-size: 3rem;
		}
	}
}
