/* Base */
body {
	min-width: 320px;
}

a {
	color: inherit;

	&:hover,
	&[href^="tel"] {
		text-decoration: none;
	}
}

ul {
	padding: 0;
}

@include media-breakpoint-down(md) {
	html {
		font-size: 14px;
	}
}
