/* Fonts */
@font-face {
	font-family: 'Мontserrat Light';
	src: url('../fonts/montserrat-light.woff') format('woff'),
	url('../fonts/montserrat-light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat Regular';
	src: url('../fonts/montserrat-regular.woff') format('woff'),
	url('../fonts/montserrat-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Мontserrat Bold';
	src: url('../fonts/montserrat-bold.woff') format('woff'),
	url('../fonts/montserrat-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
