/* Helpers */
.bg-image {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.scroll-top {
	position: fixed;
	right: 30px;
	bottom: 30px;
	z-index: 1300;
	opacity: 0;
	visibility: hidden;
	border: 1px solid $white;
	text-align: center;
	transition: opacity .5s, visibility .5s;

	&.show {
		opacity: 1;
		visibility: visible;
	}
}

@include media-breakpoint-up(md) {
	.lead {
		font-size: 1.15rem;
		line-height: 1.9;
	}
}

@include media-breakpoint-down(sm) {
	.lead {
		font-size: 1rem;
	}
}
