// Colors
$black: #000;
$white: #fff;
$primary: #4080B4;
$secondary: #CBCBCB;
$light: #EBEBEB;
$middle-gray: rgba(5, 12, 19, .5);
$dark: #191919;

// Fonts
$font-light: 'Мontserrat Light', sans-serif;
$font-regular: 'Montserrat Regular', sans-serif;
$font-bold: 'Montserrat Bold', sans-serif;

// Fontawesome path
$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts/";
